/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.header {
	text-align: center;
}

ul.group_members {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.group_members li {
	list-style-type: none;
	float: left;
	width: 33%;
	padding: 30px;
}

ul.group_members li img {
	border-radius: 50%;
	height: 75px;
	width: 75px;
	padding: 3px;
	border: 1px solid black;
}

.bottom_links {
	width: 100%;
}

ul.user_lists {
	list-style-type: none;
}