html {
  font-family: "proxima-nova";
  font-size: 16px;
  line-height: 1.6;
  overflow-x: hidden;
}

.header {
	text-align: center;
}



ul.group_members {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.group_members li {
	list-style-type: none;
	float: left;
	width: 33%;
	padding: 30px;
}

ul.group_members li img {
	border-radius: 50%;
	height: 75px;
	width: 75px;
	padding: 3px;
	border: 1px solid black;
}

.bottom_links {
	width: 100%;
}

ul.user_lists {
	list-style-type: none;
}


$color-brand: #ff2378;
$color-brand-dark: #b20045;
$color-new: #ffed3c;
$color-active: #07a8cc;
$color-active-dark: #0f95b2;

$color-text: #5e5776;
$color-text-secondary: #85a7b4;
$color-text-white: #fff;

$border-radius: 15px;
$border-radius-small: 3px;

$gray-light: #cdcdcd;

$gutter: 8px;

@import 'slick';
@import 'slick-theme';


a, a:visited, a:hover, a:active {
  color: $color-text-secondary;
  text-decoration: none;
}


.navigation-links {
  height: 30px;
  position: relative;
  background-color: $color-brand;

  padding: 10px;


  a, a:visited, a:hover, a:active {
    color: $color-text-white;
    text-decoration: none;
  }

  .left-link {
    position: absolute;
    top: $gutter;
    right: 50%;
    left: $gutter;
    text-align: left;
  }

  .right-link {
    position: absolute;
    top: $gutter;
    right: $gutter;
    left: 50%;
    text-align: right;
  }
}


.table-title {
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: 600;
  font-size : 80%;
  color: $color-text-secondary;
  margin: $gutter;
}

ul.table {
  list-style-type: none;

  padding: 0;
  margin: $gutter;
  margin-bottom: 4 * $gutter;

  &.data-right {
    text-align: right;
  }

  li {
    border-bottom: 1px solid $gray-light;
    padding-top: $gutter;
    padding-bottom: $gutter;


    color: $color-text;

    label {
      color: $color-text-secondary;
      float: left;
    }

  }
  border-top: 1px solid $gray-light;
}


.user-name, .event-title {
  font-size: 28px;
  color: $color-text;
  text-align: center;
}

.event-details, .user-bio {
  font-size: 14;
  color: $color-text-secondary;
  text-align: center;
  width: 280px;
  margin: auto;
  font-weight: 500;
}


.event-image, .user-image-container {
  text-align: center;
  margin-top: -30px;
  z-index: 1000000;
  position: relative;
  img, .user-image {
    box-shadow: 0px 3px 35px rgba(0,0,0,0.3);
    margin:auto;
    background-size: cover;
  }

  .user-image {
    border-radius: 10000px;
    border: 4px solid white;
    width: 180px;
    height: 180px;
  }

  &.event-image img {
    max-width: 50%;
    min-width: 250px;
    max-height: 260px;
  }
}


/*
  ======================
  Events
  ======================
*/

.event-attendance, .event-location {
  margin: $gutter;
  text-align: center;
}

.event {
  padding-bottom: 8 * $gutter;
}

.cta-container {
  text-align: center;
  .cta-button {
    background-color: white;
    border: 2px solid $color-active;
    padding: 5px 20px;
    font-weight: 600;
    margin: 20px;

    color: $color-active;
    border-radius: 10000px;

    &:focus {
      outline: none;
    }
  }
}


.cell {
  .cell-title {
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-weight: 600;
    font-size : 80%;
    color: $color-text-secondary;
    margin-bottom: $gutter;
    padding-bottom: $gutter;

    border-bottom: 1px solid #cdcdcd;
  }
  padding: 0;

  margin-top: $gutter;
  margin: $gutter;
  margin-bottom: 4 * $gutter;

}


/*
  ======================
  Events Index
  ======================
*/
.events-index {
  .event {
    border-top: 40px solid $color-brand;
  }



  .slick-slide{
    outline: none;
  }
}

.events-header {
    background-color: $color-brand;
    font-weight: 600;
    color: $color-text-white;
    font-size: 24px;
    padding: $gutter;

    display: flex;
    flex-direction: row;
    justify-content: space-around;


    .events-previous, .events-next, .events-date {
      color: $color-text-white;
    }


    .event-image {
      margin-top: 0px;
    }
}



/*
  ======================
  Tab Bar
  ======================
*/
.tab-bar-navigation {
	background-color: $color-brand;
  color: $color-text-white;
  padding: $gutter;

  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  justify-content: space-around;

  .tab-bar-item {
  	display: inline;
    display: flex;
    flex-direction: column;
    text-align: center;

    label {
      margin-top: -10px;
    }
  }
}

/* Add space to the bottom of the page so that the tab bar doesn't go off the screen */
html {
  padding-bottom: 100px;
}
